.emailform {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap:10px;
  width: 100%;
}

.emailnyhed {
  flex: 1;              
  border: none;
  background-color: #E9E9E9;
  padding:10px;
}

.emailnyhedbtn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #E9E9E9;
  color: #003147;
  border-radius: 8px;
  font-size: 1.2rem;
}

