
.containerform{
width: 100%; 
}


.kontaktform{
display:flex;
flex-direction:column;
gap:10px;
padding: 1rem 0 2rem 0;
width: 90vw;
}

.input,
.besked{
width:100%;
padding:10px;
border:none;
background-color:#E9E9E9;
box-sizing:border-box;
}
.besked{
    height: 8rem;
}

.kontaktbtn{
padding:8px 16px;
cursor:pointer;
background-color: #E9E9E9;
width: 60vw;
align-self: center;
border-radius: 10px;
}
